<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-10 mx-auto my-4">
                            <div class="card-content">
                                <form (submit)="login()">
                                    <h5 class="text-center mb-4">Reset Password</h5>
                                    <div class="row form-group">
                                        <input type="password" class="form-control mb-3" placeholder="Enter password">
                                        <input type="password" class="form-control mb-3" placeholder="Re-enter password">
                                        <input type="submit" value="Reset" class="btn  btn-primary mb-4">
                                    </div>
                                    <p class="text-center">Go back to <a href="/">Login</a> ?</p>
                                    <span> 
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>