<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <h3 class="text-center mb-5">Partners Table</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><i class="fas fa-rupee-sign pe-5" (click)="openPartnerDetail()"></i> <i
                                class="fas fa-info-circle" (click)="openAlert()"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td><i class="fas fa-rupee-sign pe-5"></i> <i class="fas fa-info-circle"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        <td><i class="fas fa-rupee-sign pe-5"></i> <i class="fas fa-info-circle"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>